/* Modal */
.Modal {
	--modalBackground: rgb(45, 45, 45);
	--modalAccent: rgb(0, 0, 0);

	width: 60%;
	max-width: 450px;
	padding: 1rem;
	border: 2px solid var(--modalAccent);
	border-radius: var(--borderRadius); /* Global Var*/

	display: grid;
	place-items: center;
	gap: 0.5rem;

	background-color: var(--modalBackground);

	text-align: center;
	animation: slide-up 0.2s;
}

.Modal h1 {
	padding-top: 0.4rem;
	color: var(--modalAccent);

	text-transform: uppercase;
}
.Modal p {
	margin: 0.5rem;

	letter-spacing: normal;
	font-size: 1.2rem;
}
.modalBtnHolder {
	background-color: transparent;
}
.modalBtn {
	margin: 0.5rem;
	padding: 0.45rem 0.65rem;
	border-radius: var(--borderRadius); /* Global Var*/
	border: 0;
	outline: 0;

	background-color: var(--modalAccent);
	color: black;

	display: inline-flex;
	gap: 0.5rem;
	align-items: center;

	font-size: 1.1rem;
	letter-spacing: normal;
}
.modalBtn:hover {
	background-color: var(--darken); /* Global Var*/
	outline: 2px solid var(--modalAccent);
	color: var(--modalAccent);
}
.alertModal {
	--modalAccent: rgb(255, 0, 0) !important;
}
.warningModal {
	--modalAccent: rgb(255, 157, 0) !important;
}
.confirmModal {
	--modalAccent: rgb(15, 137, 236) !important;
}

@keyframes slide-up {
	from {
		transform: translateY(20rem);
	}
	to {
		transform: translateY(0);
	}
}
